body {
      background-color: black;
      font-family: Arial, Helvetica, sans-serif;
    }
    .grey {
      background-color: #a9a9a9;
    }
    #header {
      font-family: Times, serif;
    }
    #content {
      background-color: #ccccff;
    }