body {
    background: url(images/stars.gif) repeat;
}
h3 {
    color: white;
    text-align: center;
    font-size: 200%;
}
p {
    color: white;
    text-align: center;
    font-size: 130%;
}
td {
    padding: 10px;
    font-size: 120%;
}
th {
    padding: 10px;
    font-size: 140%;
    border-bottom: 2px solid black;
}
table.center {
    background-color: white;
    padding: 10px 30px 30px 10px;
    margin-left:auto; 
    margin-right:auto;
}
tr:nth-child(even) {
    background-color: lightgrey;
}
caption {
    font-weight: bold;
    font-size: 130%;
    border-bottom: 1px solid black;
}
td.source {
    font-style: italic;
    background-color: white;
    border-top: 1px dotted black;
}

#earth {
      border: 5px dashed black;
    }