td {
    padding: 10px;
}

th {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

caption {
    font-weight: bold;
    font-size: 130%;
    border-bottom: 1px solid black;
}
td.source {
    font-style: italic;
    background-color: white;
    border-top: 1px dotted black;
}